# 提升那些不在根目录的node_modules的依赖包，就是将安装的依赖包的依赖包...都放在同一级别。
shamefully-hoist = true
# 值为true，让不在根目录的的工作框架的node_modules的依赖包都依赖于根目录的node_modules，这样可以减少依赖包的数量，提升安装速度.
# shared-workspace-lockfile = false;
# 
strict-peer-dependencies = false
# npm官方源
# registry=https://registry.npmjs.org
# npm 淘宝镜像
# registry=https://registry.npmmirror.com/