:root {
  --vp-code-block-bg: var(--sm-fill-color-light);
  --vp-code-line-height: 1.6;
}
pre,
code,
kbd,
samp {
  font-family: var(--sm-font-family);
}

:not(pre) > code {
  border-radius: 4px;
  padding: 0.15rem 0.5rem;
  background-color: var(--sm-fill-color-light);
  transition:
    color 0.25s,
    background-color 0.5s;
  font-size: 14px;
}
.vp-block {
  position: relative;
  margin: 16px 0;
  background-color: var(--vp-code-block-bg);
  overflow-x: auto;
  transition: background-color 0.5s;
}
