@use 'sass:map';
@use 'sass:color';

@use 'config' as config;
@use 'function' as *;
@use '../common/var' as *;

/// 设置css变量
/// for example:
/// @include set-css-var-value(('color', 'primary'), red);
/// --sm-color-primary: red;
@mixin set-css-var-value($names, $value, $namespace: config.$namespace) {
  #{joinVarName($names,$namespace)}: #{$value};
}

// @include set-css-var-type('color', 'primary', $map);
// --sm-color-primary: #{map.get($map, 'primary')};
@mixin set-css-var-type($name, $type, $variables) {
  #{getCssVarName($name, $type)}: #{map.get($variables, $type)};
}

// 设置type颜色css变量
@mixin set-css-color-type($colors, $type, $namespace: config.$namespace) {
  //
  @include set-css-var-value(
    ('color', $type),
    map.get($colors, $type, 'base'),
    $namespace
  );

  @each $i in (3, 5, 7, 8, 9) {
    @include set-css-var-value(
      ('color', $type, 'light', $i),
      map.get($colors, $type, 'light-#{$i}'),
      $namespace
    );
  }

  @include set-css-var-value(
    ('color', $type, 'dark-2'),
    map.get($colors, $type, 'dark-2'),
    $namespace
  );
}

// set all css var for component by map
@mixin set-component-css-var($name, $variables) {
  @each $attribute, $value in $variables {
    @if $attribute == 'default' {
      #{getCssVarName($name)}: #{$value};
    } @else {
      #{getCssVarName($name, $attribute)}: #{$value};
    }
  }
}
/// 设置color的rgb值
/// for example:
/// @include set-css-color-rgb('primary');
/// --sm-color-primary-rgb: 255, 0, 0;
@mixin set-css-color-rgb($type) {
  $color: map.get($colors, $type, 'base');
  @include set-css-var-value(
    ('color', $type, 'rgb'),
    #{color.channel($color, 'red'),
    color.channel($color, 'green'),
    color.channel($color, 'blue')}
  );
}

// generate css var from existing css var
// for example:
// @include css-var-from-global(('button', 'text-color'), ('color', 'primary’))
// --el-button-text-color: var(--el-color-primary);
@mixin css-var-from-global($var, $gVar) {
  $varName: joinVarName($var);
  $gVarName: joinVarName($gVar);
  #{$varName}: var(#{$gVarName});
}
