// 转发的模块
@forward 'config';
@forward 'function';
@forward '_var';

@use 'function' as *;
@use '../common/var' as *;
@use 'config' as *;
@use 'sass:string';
@use 'sass:map';

$B: null;
$E: null;

// BEM
@mixin b($block, $ns: $namespace) {
  /// @example
  ///   @include b(button) {
  ///     color: red;
  ///   }
  ///  ==>
  ///   .sm-button {
  ///     color: red;
  ///   }
  /// sm-button
  $B: $ns + $common-separator + $block !global;

  .#{$B} {
    @content;
  }
}

@mixin e($elements) {
  $E: $elements !global;
  /// 表示父元素class
  $selector: &;
  /// @include e(('header','left')) => .sm-button__header,.sm-button__left
  $currentSelector: '';
  @each $unit in $elements {
    $currentSelector: #{$currentSelector +
      '.' +
      $B +
      $element-separator +
      $unit +
      ','};
  }

  /// 跳出当前嵌套层级，直接在根选择器下输出
  /// @example
  ///   @include b(button) {
  ///     color:black;
  ///     @include e(('header','left')) {
  ///       color: red;
  ///     }
  ///   }
  ///  ==>
  ///   .sm-button {
  ///      color:black;
  ///   }
  ///   .sm-button__header__left {
  ///      color: red;
  ///    }
  @if hitAllSpecialNestRule($selector) {
    @at-root {
      #{$selector} {
        #{$currentSelector} {
          @content;
        }
      }
    }
  } @else {
    @at-root {
      #{$currentSelector} {
        @content;
      }
    }
  }
}

@mixin m($modifier) {
  $selector: &;
  $currentSelector: '';
  @each $unit in $modifier {
    $currentSelector: #{$currentSelector +
      $selector +
      $modifier-separator +
      $unit +
      ','};
  }

  @at-root {
    #{$currentSelector} {
      @content;
    }
  }
}

/// 配置化修饰符
/// @example
///   @include configurable-m(wrapper,disabled) {
///     color: red;
///   }
///  ==>
/// .sm-button__disabled--wrapper{
///   color: red;
/// }
@mixin configurable-m($modifier, $E-flag: false) {
  $selector: &;
  $interpolation: '';

  @if $E-flag {
    $interpolation: $element-separator + $E-flag;
  }

  @at-root {
    #{$selector} {
      .#{$B + $interpolation + $modifier-separator + $modifier} {
        @content;
      }
    }
  }
}

@mixin spec-selector(
  $specSelector: '',
  $element: $E,
  $modifier: false,
  $block: $B
) {
  $modifierCombo: '';

  @if $modifier {
    $modifierCombo: $modifier-separator + $modifier;
  }

  @at-root {
    #{&}#{$specSelector}.#{$block
      + $element-separator
      + $element
      + $modifierCombo} {
      @content;
    }
  }
}

@mixin meb($modifier: false, $element: $E, $block: $B) {
  $selector: &;
  $modifierCombo: '';

  @if $modifier {
    $modifierCombo: $modifier-separator + $modifier;
  }

  @at-root {
    #{$selector} {
      .#{$block + $element-separator + $element + $modifierCombo} {
        @content;
      }
    }
  }
}

@mixin when($state) {
  @at-root {
    &.#{$state-prefix + $state} {
      @content;
    }
  }
}

// %xxx 表示占位符，和 @extend 关键字搭配使用
// https://sass.nodejs.cn/documentation/at-rules/extend/#mandatory-and-optional-extends
@mixin extend-rule($name) {
  @extend #{'%shared-' + $name} !optional;
}

@mixin share-rule($name) {
  $rule-name: '%shared-' + $name;

  @at-root #{$rule-name} {
    @content;
  }
}

@mixin pseudo($pseudo) {
  @at-root #{&}#{':#{$pseudo}'} {
    @content;
  }
}

// dark
@mixin dark($block) {
  html.dark {
    @include b($block) {
      @content;
    }
  }
}
