@use 'mixins/utils' as *;
@use 'mixins/mixins.scss' as *;

@include b(drag-resize) {
  position: relative;
  display: flex;
  height: 100%;
  overflow: hidden;
  @include e(left) {
    margin-right: 2px;
  }

  @include e(right) {
    flex: 1;
    margin-left: 2px;
  }

  @include e(line-wrap) {
    position: absolute;
    top: 0;
    height: 100%;

    box-sizing: border-box;
    @include m(line) {
      height: 100%;
      cursor: ew-resize;
      border-radius: getCssVar('border-radius', 'base');
      &:hover {
        background-color: getCssVar('color', 'primary');
      }
    }
  }
}
