.sm-table {
  .custom-table-header {
    background-color: #f8f8f8 !important;
    color: #2b2b2c;
  }
  .custom-table-body-cell {
    color: #2b2b2c;
  }

  // 自定义列组件样式
  .custom-column-container {
    .tips {
      line-height: 22px;
      color: #00000099;
      margin-top: 16px;
    }

    .required-column-box {
      padding: 16px 24px;
      border: 1px solid #e7e7e7;
    }

    .column-setting-box {
      margin-top: 24px;
      border: 1px solid #e7e7e7;
      border-radius: 4px;

      .top {
        display: flex;
        align-items: center;
        height: 46px;
        padding: 0 24px;
        border-bottom: 1px solid #e7e7e7;
      }

      .content {
        padding: 24px;
      }
    }
  }
}
